aside.left_side
	.btn_mnu(title="Меню")
		.btn_row
		.btn_row
		.btn_row
	.aside__content
		.user_info
			img(src="img/photo.jpg", alt="Александр Иванов")
			h2 Александр Иванов
			p
				|фотограф, дизайнер, илюстратор
		nav
			ul.menu
				li.menu__item
					a(href="#")
						|Портфолио
				li.menu__item
					a(href="#")
						|Обо мне
				li.menu__item
					a(href="#")
						|Контакты


