.content.gallery
	a.dr(href="img/images/1.jpg")
		img(src='img/dummy.png',data-original="img/images/1.jpg", alt="Alt")
	a.sv(href="img/images/2.jpg")
		img(src='img/dummy.png',data-original="img/images/2.jpg", alt="Alt")
	a.dr(href="img/images/3.jpg")
		img(src='img/dummy.png',data-original="img/images/3.jpg", alt="Alt")
	a.sv(href="img/images/4.jpg")
		img(src='img/dummy.png',data-original="img/images/4.jpg", alt="Alt")
	a(href="img/images/5.jpg")
		img(src='img/dummy.png',data-original="img/images/5.jpg", alt="Alt")
	a.dr(href="img/images/6.jpg")
		img(src='img/dummy.png',data-original="img/images/6.jpg", alt="Alt")
	a.sv(href="img/images/7.jpg")
		img(src='img/dummy.png',data-original="img/images/7.jpg", alt="Alt")
	a.sv(href="img/images/8.jpg")
		img(src='img/dummy.png',data-original="img/images/8.jpg", alt="Alt")
	a.dr(href="img/images/9.jpg")
		img(src='img/dummy.png',data-original="img/images/9.jpg", alt="Alt")
	a.sv(href="img/images/10.jpg")
		img(src='img/dummy.png',data-original="img/images/10.jpg", alt="Alt")
	a.sv(href="img/images/1.jpg")
		img(src='img/dummy.png',data-original="img/images/1.jpg", alt="Alt")
	a.sv(href="img/images/2.jpg")
		img(src='img/dummy.png',data-original="img/images/2.jpg", alt="Alt")
	a.dr(href="img/images/3.jpg")
		img(src='img/dummy.png',data-original="img/images/3.jpg", alt="Alt")
	a.sv(href="img/images/4.jpg")
		img(src='img/dummy.png',data-original="img/images/4.jpg", alt="Alt")
	a.sv(href="img/images/5.jpg")
		img(src='img/dummy.png',data-original="img/images/5.jpg", alt="Alt")
	a.sv(href="img/images/6.jpg")
		img(src='img/dummy.png',data-original="img/images/6.jpg", alt="Alt")
	a.sv(href="img/images/7.jpg")
		img(src='img/dummy.png',data-original="img/images/7.jpg", alt="Alt")
	a.sv(href="img/images/8.jpg")
		img(src='img/dummy.png',data-original="img/images/8.jpg", alt="Alt")
	a.sv(href="img/images/9.jpg")
		img(src='img/dummy.png',data-original="img/images/9.jpg", alt="Alt")
	a.sv(href="img/images/10.jpg")
		img(src='img/dummy.png',data-original="img/images/10.jpg", alt="Alt")
	a.sv(href="img/images/10.jpg")
		img(src='img/dummy.png',data-original="img/images/10.jpg", alt="Alt")
	a.sv(href="img/images/1.jpg")
		img(src='img/dummy.png',data-original="img/images/1.jpg", alt="Alt")
	a.sv(href="img/images/2.jpg")
		img(src='img/dummy.png',data-original="img/images/2.jpg", alt="Alt")
	a.dr(href="img/images/3.jpg")
		img(src='img/dummy.png',data-original="img/images/3.jpg", alt="Alt")
	a.sv(href="img/images/4.jpg")
		img(src='img/dummy.png',data-original="img/images/4.jpg", alt="Alt")
	a.sv(href="img/images/5.jpg")
		img(src='img/dummy.png',data-original="img/images/5.jpg", alt="Alt")
	a.sv(href="img/images/6.jpg")
		img(src='img/dummy.png',data-original="img/images/6.jpg", alt="Alt")
	a.sv(href="img/images/7.jpg")
		img(src='img/dummy.png',data-original="img/images/7.jpg", alt="Alt")
	a.sv(href="img/images/8.jpg")
		img(src='img/dummy.png',data-original="img/images/8.jpg", alt="Alt")
	a.sv(href="img/images/9.jpg")
		img(src='img/dummy.png',data-original="img/images/9.jpg", alt="Alt")
	a.sv(href="img/images/10.jpg")
		img(src='img/dummy.png',data-original="img/images/10.jpg", alt="Alt")

.filter_items
	button.filter_label.active Все
	button.filter_label(data-filter=".sv") Свадьба
	button.filter_label(data-filter=".dr") День рождения  	