extends ../layout/main

//- переменные можно передавать в подключенные в main модули
block variables
	- var title = 'Тестовая страница pug'
	- var pageClass = 'index-page'

//- block content - можно в принцип вписывать контент сюда а не в модули








		