@import "libs.styl"
@import "utils/vars.styl"
@import "modules/preloader.css"
@import "modules/left_side.styl"
@import "modules/gallery.styl"


reset()

body 
  font-family "RalewayRegular", sans-serif
  font-weight normal
  font-size 14px
  min-width 320px
  position relative
  line-height 1.42857
  background-color: #181818
  color white
  -webkit-font-smoothing antialised
  overflow-x hidden
  
  
